<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>nl.triple-q.GPSLocater.refresh</string>
		<string>nl.triple-q.GPSLocater.processing</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>location</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>external-accessory</string>
	</array>
	<key>WeatherKitRequestsAuthorization</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide weather information</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to provide weather updates</string>
	<key>WeatherKitUsageDescription</key>
	<string>This app uses WeatherKit to provide weather information</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
    <array>
    <string>comgooglemaps</string>
    <string>waze</string>
</array>
</dict>
</plist>
